
node_modules/
dist/

.idea
*.iml
*.log
log
.vscode
.DS_Store
lerna-debug.log

lesson1/data
lesson2/data
lesson3/packages/plugin2/public/*.css*
lesson4/packages/plugin2/public/*.css*
lesson4/packages/plugin4/build
lesson5/packages/plugin2/public/*.css*
lesson5/packages/plugin4/build
lesson6/portal/data
lesson6/microfrontend1/kubernetes/resources.yaml
lesson6/microfrontend1/public/build
